# Social Network Analysis on Netflix dataset

In [1]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('netflix_titles.csv')

In [59]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## Data Preperation:

1.1. Checking duplicates values in the dataset

In [38]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6229    False
6230    False
6231    False
6232    False
6233    False
Length: 6234, dtype: bool

1.2. Find the missing rows in each column

In [39]:
df.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

1.3. Remove the NaN values from the dataset

In [40]:
df = df.fillna(0)

1.4. Change the 'date_added' values to the only year. And rename the column: 'added_year'

In [41]:
df['date_added'] = pd.to_datetime(df.date_added)
df['date_added'] = df['date_added'].dt.strftime("%Y")

In [45]:
df['date_added']

0       2019
1       2016
2       2018
3       2018
4       2017
        ...
6229    1970
6230    1970
6231    1970
6232    1970
6233    1970
Name: date_added, Length: 6234, dtype: object

In [47]:
df = df.rename(columns={"date_added": "added_year"})

1.5. Make a copy of the dataset

In [49]:
df_copy = df

1.6. In the copied dataset,remove all the columns, except for the ‘show-id’, ‘type’ and ‘cast’.

In [51]:
df_copy.drop(['title', 'director','country','added_year','release_year','rating', 'duration','listed_in','description'], axis = 1, inplace=True)

In [53]:
df_copy.head()

    show_id     type                                               cast
0  81145628    Movie  Alan Marriott, Andrew Toth, Brian Dobson, Cole...
1  80117401    Movie                                   Jandino Asporaat
2  70234439  TV Show  Peter Cullen, Sumalee Montano, Frank Welker, J...
3  80058654  TV Show  Will Friedle, Darren Criss, Constance Zimmer, ...
4  80125979    Movie  Nesta Cooper, Kate Walsh, John Michael Higgins...

1.7. In the copied dataset, you make sure that each artist will be in a row with the showid that they have participated in and the type

## Data Discovering:

2.1. Plot the number of movies as TV shows.

2.2. Plot the number of releases per year. Give an interpretation.

2.3. What is the highest year in adding new shows?

2.4. What are the types of ratings for the movies? Plot for each rating the number of movies.

## Social Network Analysis:

3.1. Create a co-acting network, where the nodes are actors and the edges are the links between actors if they have participated in the same movie or TV-show at least once.

3.2. Compute the betweenness centrality, degree centrality , and close- ness centrality for each node.

3.3. For each centrality measure, find the actor with the highest value.


3.4. Compute the average length of the shortest path and the average clustering coefficient.

3.5. Shuffle your data and take the first 100 rows and plot two modes network